{% extends "nav.dj.html" %}
{% block title %}{{ event }} - Grid - Bonfire Manager{% endblock %}
{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                {% for timeslot in event.get_talk_grid.0|slice:"1:" %}
                    <th>{{ timeslot.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- unassigned talks -->
            <tr>
                <th>Unassigned</th>
                {% for timeslot in event.get_unassigned_talks %}
                <td>
                    <ul class="list-group">
                        {% for talk in timeslot %}
                        <li class="list-group-item"><a href="{% url 'talk' event_slug=event.slug talk_slug=talk.slug %}">{{ talk.title }}</a><span class="badge" title="score">{{ talk.score }}</span></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </tr>
            <!-- assigned talks -->
            {% for rooms in event.get_talk_grid|slice:"1:" %}
                <tr>
                    <th>{{ rooms.0.name }} <p class="help-block" style="font-weight: 400">{{ rooms.0.directions }}</p></th> <!-- room name -->
                    {% for talk in rooms|slice:"1:" %}
                        <td>{% if talk %}<a href="{% url 'talk' event.slug talk.slug %}">{{ talk.title }}</a> <span class="badge" title="score">{{ talk.score }}</span>{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
