{% extends "nav.dj.html" %}
{% block title %}{{ event }} - Grid - Bonfire Manager{% endblock %}
{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                {% for timeslot in event.get_talk_grid.0|slice:"1:" %}
                    <th>{{ timeslot.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- assigned talks -->
            {% for rooms in event.get_talk_grid|slice:"1:" %}
                <tr>
                    <th>{{ rooms.0.name }}</th> <!-- room name -->
                    {% for talk in rooms|slice:"1:" %}
                        <td>{% if talk %}<a href="{% url 'talk' event.slug talk.slug %}">{{ talk.title }}</a>{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
