{% extends "nav.dj.html" %}
{% block title %}Grid - Bonfire Manager{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                {% for timeslot in event_timeslots %}
                    <th>{{ timeslot }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <th>
                    {{ room }}
                </th>
                {% for timeslot in room.timeslots %}
                    <tr>{{ timeslot }}</tr>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
