{% extends "container.dj.html" %}
{% block title %}{{ talk.title }} - Talk - Bonfire Manager{% endblock %}
{% load bootstrap3 %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ talk.title }}</h2>
            <p>{{ talk.description }}</p>
            <h3>Votes: {{ talk.score }}</h3>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Vote</button>
            </form>
            <h3>Where</h3>
            {% if talk.room %}
            <p><a href="{% url 'room' event_slug=talk.timeslot.event.slug room_slug=talk.room.name %}">{{ talk.room.name }}</a></p>
            {% else %}
            <p>No room assigned.</p>
            {% endif %}
            <h3>When</h3>
            {% if talk.timeslot.started and talk.timeslot.ended %}
            <p>Starts in <time datetime="{{ talk.timeslot.start|date:"c" }}">{{ talk.timeslot.start|timeuntil }}</time> and ends <time datetime="{{ talk.timeslot.end|date:"c" }}">{{ talk.timeslot.end|timeuntil:talk.timeslot.start }}</time> after.</p>
            {% else %}
            <p>Talk has finished.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
