{% extends "container.dj.html" %}
{% block title %}{{ talk.title }} - Talk - Bonfire Manager{% endblock %}
{% load bootstrap3 %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ talk.title }}</h2>
            <p>{{ talk.description }}</p>
            <h3>Where</h3>
            <p>{{ talk.room.name|default:"Unassigned" }}</p>
            <h3>When</h3>
            {% if talk.timeslot.started and talk.timeslot.ended %}
            <p>Starts in <time datetime="{{ talk.timeslot.start|date:"c" }}">{{ talk.timeslot.start|timeuntil }}</time> and ends <time datetime="{{ talk.timeslot.end|date:"c" }}">{{ talk.timeslot.end|timeuntil:talk.timeslot.start }}</time> after.</p>
            {% else %}
            <p>Talk has finished.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
